*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color3: rgb(124, 124, 224);
    --text-color2: rgb(12, 12, 121);
    --text-color: #252641;
    --bg-color: #fff;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
    
}
.logo{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: var(--text-color2);
    font-size: 15px;
    font-weight: 500;
    padding: 10px 26px;
    border-radius: 4px;
    transition: ease .40s;
}
.navlist a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    background: var(--text-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after {
    width: 100%;
}
#menu-icon {
    color: var(--bg-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--text-color2);
    color: var(--text-color3);
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    transition: ease .50s;
}
.top-btn:hover{
    transform: scale(1.1);
    background: var(--text-color2);
    border: 2px solid var(--text-color2);
    color: #fff;
}
section{
    padding: 80px 18%;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: #ECF7FB;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-text h1{
    font-size: 50px;
    line-height: 1.2;
    color: var(--text-color);
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.home-text p{
    color: var(--text-color3);
    font-size: 13px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}
.btn{
    display: inline-block;
    color: #fff;
    background: var(--text-color2);
    font-size: 13px;
    padding: 15px 24px;
    font-weight: bold;
    line-height: 24px;
    border-radius: 10px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);
}
.home-img img{
    max-width: 100%;
    width: 740px;
    height: auto;
}
header.sticky{
    background: #fff;
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.company{
    display: flex;
}
.company-logos{
    display: inline-flex;
    margin: auto;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.company-logo img{
    max-width: 100%;
    width: 640px;
    height: 100%;
}
.home-text h1 p a{
    width: 100%;
    width: 740px;
    height: auto;
}
.introduce-about h2{
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
}
.introduce-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: left;
    margin-top: 5rem;
}
.introduce-item{
    background: var(--bg-color);
    border: 1px solid #f0eded;
    padding: 50px 10px;
    border-radius: 4px;
    transition: all 1s ease 0;
    cursor: pointer;
}
.introduce-icon img{
    height: 85px;
    width: 85px;
    padding: 15px;
}
.introduce-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.introduce-desc{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color2);
    line-height: 1.8;
}
.introduce-item:hover{
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border: 1xp solid transparent;
    transform: translateY(-3px);
}
.about{
     background: #F8FCFD;
}
.about-main{
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-gap: 4rem;
}
.about-image img{
    max-width: 100%;
    width: 500px;
    height: auto;
}
.about-content{
    gap: 140px;
    display: inline-flex;
}
.about-title{
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color2);
    margin-bottom: 4px;
}
.about-desc{
    font-size: 12px;
    color: var(--text-color3);
    margin-bottom: 10px;
}
.btn-a{
    display: inline-block;
    color: #fff;
    background: var(--text-color2);
    font-size: 10px;
    padding: 10px 18px;
    font-weight: bold;
    line-height: 24px;
    border-radius: 10px;
    transition: ease .40s;
}
.btn-a:hover{
    transform: scale(1.1);
}
.contact{
    background: #0BC0EB;
    width: 64%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-image: url(bg-img.jpeg);
    background-size: cover;
}
.center h3{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    max-width: 500px;    
}
.contact .action form input[type="email"]:first-child{
    display: inline-block;
    line-height: 3.5;
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    border: none;
    outline: none;
    color: #6b7d93;
    margin: 0 10px 20px 0;
    border-radius: 10px;
    border: 0;
    }
.contact .action form input[type="submit"]:last-child{
    line-height: 1.9;
    padding: 12px 40px;
    background: rgb(12, 12, 121);
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 10px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-left: -160px;
    margin-top: 10px;
}
.contact .action form input[type="submit"]:hover:last-child{
 color: #252641;
 background: #0BC0EB;
 transition: calc(1.1);
 transform: ease .4s;
}
.end{
    width: 80%;
    justify-content: center;
    line-height: 1.9;
    text-align: left;
    align-items: center;
    padding: 100px;
    display: flex;
    max-width: 1500px;
    gap: 100px;
    margin-left: 50px;
    margin-top: -6%;
    height: auto;
}
.end-heading{
    display: grid;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin-right: 30px;
    
}
.end-title{
    font-weight: bold;
    color: rgb(7, 7, 129);
    font-weight: bold;
}
.end-link a{
    line-height: 2.6;
    font-size: 15px;
    display: grid;
    color: rgb(124, 124, 224);
    text-decoration: none;
}
.e-l{
    margin-top: 1px;
}
.end-link a:hover{
    color: #252641;
}
.end-desc{
    line-height: 1.5;
    font-size: 15px;
    color: rgb(124, 124, 224);
}
.span-desc{
    font-weight: 500;
    color:  rgb(12, 12, 121);
}
.end-icon a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #cfe2e7;
    font-size: 15px;
    color: #6b7d93;
}
.end-icon a:hover{
    background: #0BC0EB;
    transition: .5s;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 20px 0;
}
.end-list{
    width: 16%;
}
.end-list h4{
    font-size: 16px;
    color: var(--text-color2);
    margin-bottom: 30px;
    position: relative;
}
.end-list ul li:not(last-child){
    margin-bottom: 16px;
    color: var(--text-color3);
}
.end-list ul li a{
    color: var(--text-color3);
    font-size: 15px;
    display: block;
    transition: .3s;
}
.end-list ul li a:hover{
    color: #0BC0EB;
    transform: translateX(14px);
}
@media (max-width: 1425px){
    header{
        padding:  16px 3%;
        transition: .3s;
    }
    header.sticky{
        padding: 10px 3%;
        transition: .3s;
    }
    section{
        padding: 70px 3%;
        transition: .3s;
    }
    contact{
        width: 95%;
        transition: .3s;
    }
}



